
body, html {
  padding: 0;
  margin: 0;
}

#game-wrapper {
  background-image: url('../img/bg.png');
  position: relative;
  width: 40%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

#doodle{
  background-image: url('../img/doodle.png');
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
  transition: .5s ease-out;
}

.platform {
  width: 120px;
  height: 15px;
  background-color: greenyellow;
  position: absolute;
  transition: .5s ease-out;
  border-radius: 10px;
  border:3px solid black;
}

